{% extends 'base.html' %}

{%macro name_card(n, sex, meaning, origin, note) -%}
   <div class="name_card" style="{%if sex == "M"%}background-color:blue;"{%elif sex == "F"%} background-color:pink" {%else%}background-color:yellow"{%endif%}>
      <div style="text-align: right; padding-right: 5px">
         <button class="card_buttons"><a href="{{ url_for('selections.trash', name=n)}}" style="text-decoration:none">🗑️</a></button>
      </div>
      <h2 class="card_contents">{{n}}</h2><br>
      {%if meaning%}
      <p class="card_contents">{{origin}}</p><br>
      <p class="card_contents">{{meaning}}</p><br>
      {%endif%}
      <div class="card_contents card_buttons">
         <form style="width:100%" id="name_note_{{name}}" action="{{url_for('selections.note')}}" method="post">
         <textarea form="name_note_{{name}}" maxlength=511 id="note_textbox" name="note_textbox" style="width:80%; resize:none;">{%if note == None%}Leave a note!{%else%}{{note}}{%endif%}</textarea>
         <input type="hidden" value="{{n}}" id="name_hidden" name="name_hidden">
         </br>
         <input type="submit" value="Save">
      </form>
   </div>
   </div>
{%- endmacro %}

{% block header %}
Liked Names
{%endblock%}

{% block content %}
   {% if g.user %}
      <div id="main_content">
         <div style="width: 100hw; height: 65vh; overflow-y:scroll;">
            {% for name in names %}
               {{name_card(name['name'], name['sex'], name['meaning'], name['origin'], name['note'])}}
            {% endfor %}
         </div>
      </div>
      
   {% endif %}
   
{% endblock %}
