{% extends 'base.html' %}

{%macro name_card(n, sex, meaning, origin) -%}
   <div class="name_card" style="{%if sex == "M"%}background-color:blue;"{%elif sex == "F"%} background-color:pink" {%else%}background-color:yellow"{%endif%}>
      <h2 class="card_contents">{{n}}</h2><br>
      {%if meaning%}
      <p class="card_contents">{{origin}}</p><br>
      <p class="card_contents">{{meaning}}</p><br>
      {%endif%}
      <div class="card_contents card_buttons">
      <button class="card_buttons"><a href="{{ url_for('selections.like', name=n)}}" style="text-decoration:none">✅</a></button>
      <button class="card_buttons"><a href="{{ url_for('selections.dislike', name=n)}}" style="text-decoration:none">❌</a></button>
      </div>
   </div>
{%- endmacro %}
{%block header%}
Explore names
{%endblock%}
{% block content %}
   {% if g.user %}
      <div id="main_content">
         <div style="width: 100hw;">
            {{name_card(name['name'], name['sex'], name['meaning'], name['origin'])}}
         </div>
      </div>
      
   {% endif %}
   
{% endblock %}
